@import "tailwindcss";

:root {
  --bg-v1: rgb(20, 20, 20);
  --bg-v2: rgb(40, 40, 40);

  --color: silver;
}

* {
  font-family: sans-serif;
}

body {
  min-height: 100dvh;

  background-color: var(--bg-v1);
}

#root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.glass-card {
  background-color: var(--bg-v2);
}
